<!--list_items/templates/list_items/list_items_list.html-->
{% extends "list_items/base.html" %}

{% block content %}
<article>
    <h2 class="mark">{% now "H:i-m-d-Y" %}</em></h2>
    <a href="{% url 'list_items-create' %}"><button>Add new grocery item</button></a>
</article>

    {% for list_item in list_items_list %}
        <article>    
            <h4>
                <a href="{% url 'list_items-detail' list_item.id %}">
                    {{ list_item.groc_item }}
                </a>
            </h4>
            <h6 class="{{list_item.date_created|date:'1'}}">
                <span id="datelistspan">added to list: </span>{{ list_item.date_created|date:'H:i-m-d-Y' }}
            </h6>

        </article>
    {% endfor %}
{% endblock %}