<!-- list_items/templates/list_items/list_items_detail.html -->
{% extends "list_items/base.html" %}

{% block content %}
    <article>
        <h3><span id="grocitemspan">Item: </span>{{ list_items.groc_item }}</h3>
        <br>
        <h4><span id="itemspan">Item Price: </span> ${{ list_items.item_price }}</h4>
        <br>
        <h5><span id="budgetspan">Category Budget allotment: </span>${{ list_items.budget }}</h5>
        <br>
        <p><span id="notespan">Notes:</span><br>
            {{ list_items.notes }}
        </p>
        <br><br>
        <h6><span id="datespan">Created:</span>{{ list_items.date_created|date:'H:i-m-d-Y' }}</h6>
    </article>
{% endblock %}