<!--list_items/templates/list_items/list_items_list.html-->
{% extends "list_items/base.html" %}

{% block content %}
<article>
    <a href="{% url 'list_items-create' %}"><button>Add new grocery item</button></a>
</article>

    {% for list_item in list_items_list %}
        <article>    
            <h4>
                <a href="{% url 'list_items-detail' list_item.id %}">
                    {{ list_item.groc_item }}
                </a>
            </h4>
            <h4 class="{{list_item.item_price}}">
                <span id="prilistspan">Price: </span>${{ list_item.item_price}}
            </h4>
        </article>
    {% endfor %}
    <br><br>
    <h9 class="dat">{% now "H:i-m-d-Y" %}</em></h9>
{% endblock %}